.game-thumb-card {
    max-width: 200px;
    margin: 8px;
    background-color: #2a475e ;
    color: gainsboro;
    border-radius: 1px;
    border: solid;
    border-color: grey;
    
}


.button-color {
    background-color: transparent;
}

.remove-game-button {
    margin-bottom: 1%;
}
