.game-profile-conatiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2a475e;
    color: white;
    padding: 1%;
}

.game-header-image{
    width: 400px;
    
}