

.games-container-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
}

mat-expansion-panel {
    background-color: #1b2838;
    color: gainsboro;
}

mat-panel-title{
    color: gainsboro;
}

.shelf-container{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: solid;
    border-width: 1px;
    
}








