.navBrandName {
    font-size: x-large;
    color: black;
}

.navBrandName:hover {
    cursor: pointer;
}

.nav-item:active {
    background-color: silver;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
   
}

body{
     background-image: url('./assets/westerosMap2.png'); 
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.navElement:hover {
    color: black;
    cursor: pointer;
}

.mainAppContainerDiv{
    display: flex;
    flex-direction: row;
    padding-top: 65px;

}

.sideNavDiv{
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    overflow: scroll;
    padding-bottom: 80px;

}

.characterListDiv{
    margin-left: 300px;
    padding-top: 40px;
    padding-left: 1%;
}

.categorieTitle{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.checkBoxLabel:hover{
    text-decoration: underline;
}

.categorieElementsCollapseDiv {
    margin-top: 0 !important;
}
 .controlsDiv {
     margin: 10%;
 }

 .dropdown-item:hover {
    cursor: pointer;
 }


.dropDownButton {
}

.wrapperCharactersListSectionDiv {
    color: white;
    font-size: 40px;
}

.characterListDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    
}

.cardDiv {
    width: 200px;
    margin: 1%;
    border: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 2%;
   

}
.cardDiv:hover {
    cursor: pointer;
}

.cardDivImage {
    object-fit: cover;
    width: 100%;
    height: 200px;
   
}

.cardBody {
    margin: 2%;
}

.characterModalHeader {
    display: flex;
    flex-direction: column;
}

.characterModalImage {
    object-fit: cover;
    width: 200px !important;
    height: 250px !important;
    margin-bottom: 2%;
}

.characterViewBody {
    margin: 4%;
}

.characterViewAttribute {
    font-size: 18px;
}

.characterViewRoyal {
    color: #d4af37;
    font-weight: bold;
    font-size: 20px;
}













