.navBrandName {
    font-size: x-large;
    color: black;
}

.navBrandName:hover {
    cursor: pointer;
}

.nav-item:active {
    background-color: silver;
}

body{
     background-image: url('./assets/westerosMap2.png'); 
     height: 100vh;
}
.navElement:hover {
    color: black;
    cursor: pointer;
}

.mainAppContainerDiv{
    display: flex;
    flex-direction: row;
}

.sideNavDiv{
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;

}

.characterListDiv{
    margin-left: 300px;
    padding-top: 20px;
    padding-left: 1%;
}









