.navBrandName {
    font-size: x-large;
    color: black;
}

.navBrandName:hover {
    cursor: pointer;
}

.nav-item:active {
    background-color: silver;
}

body{
     background-image: url('./assets/westerosMap2.png'); 
     height: 100vh;
}
.navElement:hover {
    color: black;
    cursor: pointer;
}

.mainAppContainerDiv{
    display: flex;
    flex-direction: row;

}

.sideNavDiv{
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-left: 1%;
    padding-right: 1%;
    overflow: scroll;
    padding-bottom: 80px;

}

.characterListDiv{
    margin-left: 300px;
    padding-top: 20px;
    padding-left: 1%;
}

.categorieTitle{
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.checkBoxLabel:hover{
    text-decoration: underline;
}

.categorieElementsCollapseDiv {
    margin-top: 0 !important;
}
 .controlsDiv {
     margin: 10%;
 }

 .dropdown-item:hover {
    cursor: pointer;
 }


.dropDownButton {
}

.wrapperCharactersListSectionDiv {
    color: white;
    font-size: 40px;
}

.characterListDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    
}

.cardDiv {
    width: 1000px;
    margin: 1%;
    

}

.cardDivImage {
    object-fit: cover;
    width: 400px !important;
    height: 400px;
   
}

.cardBody {
    margin: 2%;
}











