.spacer {
    flex: 1 1 auto;
  }

  button {
      background-color: transparent;
  }


  .drawer-container {
    height: 100%;
   
  }

  .drawer-sidenav {
    padding: 20px;
    width: 200px;
   
  }

  .mat-toolbar {
    position: sticky;
    background-color: #1b2838    ;
    box-shadow: 0px 5px 5px #888888;

  }

.logo-link {
 color: white;
 text-decoration: none;
}

.search-form-field {
  font-size: 15px;
  width: 400px;
  padding: 2%;
 
}



