.myShelvesContainer {
    padding: 2%;
    background-color: #2a475e;
    color: gainsboro;
    height: 100%;
}


mat-divider {
    background-color: grey;
    margin-top: 1%;
    margin-bottom: 3%;

}

.button-color {
    background-color: #66c0f4;
}

.delete-shelf-button {
    margin-bottom: 1%;
}